// Compass
@import compass

// CSS Reset
@import compass/reset

// Compass extension
$pictos-free-spacing: 50px
@import "../../pictos-free/stylesheets/pictos-free"

.pictos-free-sprite
  text-indent: -99999px

ul
  +pie-clearfix
  li
    +float-left
    +opacity(.1)
    &:hover
      +opacity(1)
    a
      +border-radius(72px)
      +box-shadow(rgba(#000,0.3) 2px 2px 2px)
      border: 5px solid #fff
      cursor: pointer
      display: block
      height: 72px
      width: 72px