// Compass
@import "compass"

// CSS Reset
@import "compass/reset"

// Compass extension
$pictos-free-black-spacing: 50px
// @import "../../pictos-free/stylesheets/pictos-free-black"
@import "pictos-free-black"

// Compass extension
$pictos-free-white-spacing: 50px
// @import "../../pictos-free/stylesheets/pictos-free-white"
@import "pictos-free-white"

body
  overflow: hidden
  &.white
    background: #354a5a
  &.black
    background: #fff

ul
  +pie-clearfix
  li
    +float-left
    +transition-property(all)
    +transition-duration(1s)
    a
      +border-radius(72px)
      cursor: pointer
      display: block
      height: 72px
      width: 72px
      text-indent: -99999px
  .white &
    li
      +opacity(.02)
      &:hover
        +opacity(1)
      a:hover
        +box-shadow(rgba(#000,0.3) 0 0 30px 20px)

  .black &
    li
      +opacity(.02)
      &:hover
        +opacity(1)
      a:hover
        +box-shadow(rgba(#000,0.3) 0 0 10px 2px)