!!! 5
%html{html_attrs}
  %head
    %title= @title
    %link{:href => "/stylesheets/stylesheet.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag("/javascripts/jquery-1.5.min.js", "/javascripts/application.js")
  %body
    %ul
      -30.times do
        %li.pictos-free-icn1
          Icon 1
        %li.pictos-free-icn2
          Icon 2
        %li.pictos-free-icn3
          Icon 3
        %li.pictos-free-icn4
          Icon 4
        %li.pictos-free-icn5
          Icon 5
        %li.pictos-free-icn6
          Icon 6
        %li.pictos-free-icn7
          Icon 7
        %li.pictos-free-icn8
          Icon 8
        %li.pictos-free-icn9
          Icon 9
        %li.pictos-free-icn10
          Icon 10
        %li.pictos-free-icn11
          Icon 11
        %li.pictos-free-icn12
          Icon 12
        %li.pictos-free-icn13
          Icon 13
        %li.pictos-free-icn14
          Icon 14
        %li.pictos-free-icn15
          Icon 15
        %li.pictos-free-icn16
          Icon 16
        %li.pictos-free-icn17
          Icon 18
        %li.pictos-free-icn18
          Icon 19
        %li.pictos-free-icn19
          Icon 20
        %li.pictos-free-icn20
          Icon 21
        %li.pictos-free-icn21
          Icon 1
      -# yield